<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-buttons side="right">
				<button ng-click="menuCtrl.openSideMenu()" class="button icon ion-gear-a"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
	
		<ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="right">
		<header class="bar bar-header bar-stable">
			<h1 class="title">Settings</h1>
		</header>
		
		<ion-content class="has-header">
			<ion-list>
				<ion-item nav-clear class="item item-divider">Sessions</ion-item>
				<ion-radio menu-close ng-model="menuCtrl.favouriteSessions" ng-value="true" ng-change="menuCtrl.favouriteSessionToggle(true)">
					Show favourite sessions</ion-radio>
				<ion-radio menu-close ng-model="menuCtrl.favouriteSessions" ng-value="false" ng-change="menuCtrl.favouriteSessionToggle(false)">
					Show all sessions</ion-radio>
				
				<ion-item nav-clear class="item item-divider">Settings</ion-item>
				<ion-item nav-clear menu-close ng-click="menuCtrl.resetData()">Reset data</ion-item>
				<ion-item nav-clear menu-close ng-click="menuCtrl.showAboutDialog()">About</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>

<div class="tabs-striped tabs-background-positive tabs-light">
    <div class="tabs">
        <a class="tab-item" ui-sref="app.twitter" ui-sref-active="active">Twitter</a>
        <a class="tab-item" ui-sref="app.sessions" ui-sref-active="active">Sessions</a>
        <a class="tab-item" ui-sref="app.speakers" ui-sref-active="active">Speakers</a>
        <a class="tab-item" ui-sref="app.map" ui-sref-active="active">Map</a>
    </div>
</div>