<ion-view title="{{session.code}} - {{session.name}}">
    <ion-content class="has-header has-footer padding">
    	<p>
    		<span>sessionTime</span> - 
    		<span>sessionlocation</span>
    	</p>
    	<p><span>
    		<a>Show on map</a>&nbsp;|&nbsp;
    		<a ng-show="true">add to favourites</a><a ng-hide="true">remove from favourites</a>
    	</span></p>

        <h2>{{session.name}}</h2>
        <p ng-bind-html="session.description"></p>

        <div class="list list-inset">
			<ion-item class="item item-divider">Speakers</ion-item>
            <ion-item class="item" ng-repeat="speaker in speakers" ng-href="#/speakers/{{speaker.id}}">
                {{speaker.fullName}}
            </ion-item>
        </div>
    </ion-content>
</ion-view>