<ion-view title="Twitter" nav-view-transition="android">
    <ion-content class="has-header has-footer">
        <div class="list card">
        	<div class="item item-icon-left">
        		<i class="icon ion-pound"></i>EHFG2014
        		<a href ng-click="twitterCtrl.updateFeed()">update</a>
        	</div>
        	
        	<div ng-repeat="tweet in twitterCtrl.tweetResource.tweets track by tweet.id" style="margin-top: 5px;">
        		<div class="item item-divider">
        			{{::tweet.fullName}} @{{::tweet.nickName}}
        		</div>
        		
        		<div class="item item-avatar item-text-wrap">
    				<img ng-src="{{tweet.profileImage}}">
    				<p ng-bind-html="tweet.message"></p>
    			</div>
        	</div>
        	
        	<div class="item item-divider" ng-click="twitterCtrl.loadMoreTweets()" ng-show="twitterCtrl.tweetResource.morePages">
        		Load more tweets...
        	</div>
        </div>
    </ion-content>
</ion-view>