a,
span a:visited {
    color: #6699cc;
}

span.hashtag {
    font-weight: bold;
}

.speakerImage {
	width: 10%;
	height: 10%;
	min-width: 120px;
	min-height: 180px;
}

div.item-avatar .twitter-image {
	top: 10px;
	border-radius: 15%;
	max-height: 55px;
	max-width: 55px;
}

div.item.item-avatar.tweet-body {
	padding-top: 10px;
	padding-left: 85px;
	margin-bottom: 5px;
}

.tweet-nickname {
	color: gray;
	font-size: 80%;
}

.tweet-data {
	float: right;
	color: gray;
	font-size: 80%;
}

div.tabs-background-positive.tabs-light div.tabs,
ion-header-bar.bar-stable.bar.bar-header.disable-user-behavior {
	background-color: #6699cc;
    background-size: 0;
}

.button-icon.icon.ion-navicon,
.bar-stable div.title.header-item,
ion-header-bar.bar-stable.bar h1.title,
div.tabs-background-positive.tabs-light div.tabs a.tab-item {
	color: white;
	text-shadow: 0px 1px 0px rgb(50, 50, 50);
	outline-color: black;
	border-color: white;
}

.button-icon.icon.ion-navicon,
div.tabs-background-positive.tabs-light div.tabs {
	border: 0;
}

div.tabs-background-positive.tabs-light div.tabs a.tab-item.active {
	border-color: white;
	color: white;
    font-weight: bold;
}

.angular-google-map, .angular-google-map-container {
  width: 100%;
  height: 100%;
}

#map-parent {
	height: 100%; 
	padding: 44px 0;
}

.speaker-item {
	left: 0;
	right: 0;
}

img.logo {
    width: 40px;
    height: 40px;
    margin-top: -3px;
}