<ion-view title="Map">
	<div id="map-parent">
		<ui-gmap-google-map center="mapCtrl.center" zoom="mapCtrl.zoom">
			<ui-gmap-markers models="mapCtrl.points" idkey="name" coords="'coordinate'" icon="'icon'">
                <ui-gmap-windows>
                    <div ng-non-bindable>{{::description}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>

            <ui-gmap-marker idkey="'highlight'" coords="mapCtrl.highlightLocation.coordinate">
                <ui-gmap-window>
                    <div ng-non-bindable>{{::mapCtrl.highlightLocation.name}}</div>
                </ui-gmap-window>
            </ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
</ion-view>