<ion-view>
    <ion-nav-title>Results for "{{::searchCtrl.searchParam}}"</ion-nav-title>
    <ion-content class="has-header has-footer">
        <ion-list ng-hide="searchCtrl.searchResult.hasAnyResult">
            <ion-item class="item-divider">No results found</ion-item>
        </ion-list>

        <ion-list ng-show="::searchCtrl.searchResult">
            <div ng-repeat="result in ::searchCtrl.searchResult.results">
                <ion-item class="item-divider" ng-show="::result.data.length > 0">{{::result.type | capitalize}}s</ion-item>
                <ion-item ng-repeat="item in ::result.data track by item.id" ng-href="#/{{::item.type | lowercase}}/{{::item.id}}">
                    <span ng-bind-html="::item.description"></span>
                </ion-item>
            </div>

            <ion-item ng-show="searchCtrl.searchResult.tweets.length > 0" class="item-divider">Tweets</ion-item>
            <ion-item ng-repeat="tweet in ::searchCtrl.searchResult.tweets track by tweet.id">
                <tweet tweet="tweet"></tweet>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>