<ion-view>
    <ion-nav-title>Results for "{{::searchCtrl.searchParam}}"</ion-nav-title>
    <ion-content class="has-header has-footer">
        <ion-list ng-show="::searchCtrl.searchResult">
            <div ng-repeat="result in ::searchCtrl.searchResult.results">
                <ion-item class="item-divider">{{::result.type|lowercase}}</ion-item>
                <ion-item ng-repeat="item in ::result.result" ng-href="#/{{::item.type | lowercase}}/{{::item.id}}"><!-- track by item.id"-->
                    {{::item}}
                </ion-item>
            </div>

            <ion-item ng-show="::searchCtrl.searchResult.tweets" class="item-divider">Tweets</ion-item>
            <ion-item ng-repeat="item in ::searchCtrl.searchResult.TWEET track by item.id">
                {{::item}}
            </ion-item>
        </ion-list>

        <h1 ng-hide="::searchCtrl.searchResult">nothing found... :(</h1>
    </ion-content>
</ion-view>