<ion-view>
	<ion-nav-title>{{::session.code}} - {{::session.name}}</ion-nav-title>
    <ion-content class="has-header has-footer padding">
    	<p style="margin-bottom: 0">
    		<span>{{::session.startTime | date:'MMM d, HH:mm':'UTC'}} - {{::session.endTime | date:'HH:mm':'UTC'}}</span> |
    		<span>{{::session.location}}</span>
    	</p>
    	<p><span>
    		<a ng-href="#map/{{session.location}}">Show on map</a>&nbsp;|&nbsp;
    		<a ng-hide="session.isInFavourites" ng-click="addToFavourites()" href="">add to favourites</a>
    		<a ng-show="session.isInFavourites" ng-click="removeFromFavourites()" href="">remove from favourites</a>
    	</span></p>

        <h2>{{::session.name}}</h2>
        <p ng-bind-html="session.description"></p>

        <div class="list list-inset" ng-hide="speakers.length === 0">
			<ion-item class="item item-divider">Speakers</ion-item>
            <ion-item class="item" ng-repeat="speaker in speakers track by speaker.id" ng-href="#/speakers/{{speaker.id}}">
                {{::speaker.fullName}}
            </ion-item>
        </div>
    </ion-content>
</ion-view>