<ion-view>
	<ion-nav-title ng-bind-html="::speakerDetailCtrl.speaker.fullName"></ion-nav-title>
	<ion-content class="has-header has-footer padding list-at-bottom">
	    <img class="speakerImage" speaker-image="speakerDetailCtrl.speaker.imageUrl"></img>
	    <p ng-bind-html="::speakerDetailCtrl.speaker.description | trustedHtml"></p>
	    
	    <div class="list list-inset" ng-hide="speakerDetailCtrl.sessions === 0">
	    	<div class="item item-divider">Sessions</div>
	    	<ion-item class="item" ng-repeat="session in speakerDetailCtrl.sessions track by session.id" ng-href="#/sessions/{{::session.id}}">
	    		{{::session.code}} - {{::session.name}}
	    	</ion-item>
	    </div>
	</ion-content>
</ion-view>