<div class="item item-divider">
    <span>{{::tweet.fullName}}</span>
    <span class="tweet-data">{{::tweet.timestamp | twitterDateFilter}}</span>
    <p class="tweet-nickname">@{{::tweet.nickName}}</p>
</div>

<div class="item item-avatar item-text-wrap tweet-body">
    <img ng-src="{{::tweet.profileImage}}" class="twitter-image">
    <p ng-bind-html="tweet.message | trustedHtml"></p>
</div>

<p ng-hide="showAllTweets.value || tweet.retweetedBy.length === 0" ng-class="{retweets: true, expanded: isExpanded}" ng-click="isExpanded = !isExpanded">
    <span>
        <i class="icon ion-arrow-return-left" style="font-size: 20px"></i>
        <span style="padding: 0 5px 0 2px;">({{::tweet.retweetedBy.length}})</span>
        <span>{{::tweet.retweetedBy.join(', ')}}</span>
    </span>
</p>
