.speakerImage {
	width: 10%;
	height: 10%;
	min-width: 120px;
	min-height: 180px;
}

div.tabs-striped.tabs-background-positive.tabs-light > div.tabs {
	background-color: #6699cc;
}

body > ion-nav-view > ion-side-menus > ion-pane > ion-nav-bar.bar.bar-stable {
	background-color: #6699cc;
}

body > ion-nav-view > ion-side-menus > ion-pane > ion-nav-bar.bar.bar-stable > h1.title {
	color: white;
	text-shadow: 0px 1px 0px rgb(50, 50, 50);
	outline-color: black;
} 
