.speakerImage {
	width: 10%;
	height: 10%;
	min-width: 120px;
	min-height: 180px;
}

div.item-avatar .twitter-image {
	border-radius: 15%;
}

div.tabs-striped.tabs-background-positive.tabs-light div.tabs,
ion-header-bar.bar-stable.nav-title-slide-ios7.bar.bar-header.disable-user-behavior {
	background-color: #6699cc;
}

div.title.title-center.header-item,
div.tabs-striped.tabs-background-positive.tabs-light div.tabs a.tab-item {
	color: white;
	text-shadow: 0px 1px 0px rgb(50, 50, 50);
	outline-color: black;
	border-color: white;
}

div.tabs-striped.tabs-background-positive.tabs-light div.tabs {
	border: 0;
}

div.tabs-striped.tabs-background-positive.tabs-light div.tabs a.tab-item.active {
	border-color: 3px solid #B5CAFF !important;
	color: white;
	outline-color: white;
}

.angular-google-map, .angular-google-map-container {
  width: 100%;
  height: 100%;
}

#map-parent {
	height: 100%; 
	padding: 44px 0;
}
