<html layout:decorator="includes/layout">
<div layout:fragment="content" th:with="tableEmpty=${#lists.isEmpty(locations)}">
	<p th:text="'no location set yet'" th:if="${tableEmpty}"></p>
	<table class="table table-bordered table-striped" th:unless="${tableEmpty}">
		<thead>
			<tr>
				<th>name</th>
				<th>xValue</th>
				<th>yValue</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="location : ${locations}">
				<td th:text="${location.name}">name</td>
				<td th:text="${location.coordinate.xValue}">xValue</td>
				<td th:text="${location.coordinate.yValue}">yValue</td>
			</tr>
		</tbody>
	</table>
	
	<form th:action="@{#}" th:unless="${#lists.isEmpty(availableLocations)}" th:object="${editLocation}" method="post" class="form form-horizontal">
		<div class="form-group">
			<label for="locationName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-4">
				<select th:field="*{name}" class="form-control">
					<option th:each="name : ${availableLocations}" th:value="${name}" th:text="${name}">option</option>
				</select>
			</div>
		</div>
	
		<div class="form-group">
			<label for="xCoordinate" class="col-sm-2 control-label">X-Coordinate</label>
			<div class="col-sm-4">
				<input th:field="*{coordinate.xValue}" class="form-control" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="yCoordinate" class="col-sm-2 control-label">Y-Coordinate</label>
			<div class="col-sm-4">
				<input th:field="*{coordinate.yValue}" class="form-control" />
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="save" class="btn btn-primary" />
			</div>
		</div>
	</form>
</div>
</html>